<div class="d-flex justify-content-end align-items-center mt-4">
	<ul class="pagination">
		{% if currentPage > 1 %}
			<li class="page-item">
				<a class="page-link" href="/admin/{{ entity }}?page={{ currentPage - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span> Previous
				</a>
			</li>
		{% endif %}

		<li class="page-item active">
			<span class="page-link">{{ currentPage }}</span>
		</li>

		{% if currentPage < nbPages %}
			<li class="page-item">
				<a class="page-link" href="/admin/{{ entity }}?page={{ currentPage + 1 }}" aria-label="Next">
					Next <span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		{% endif %}
	</ul>
</div>
